h1 {
    color: #344fb2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    background-color: #ddbaa2;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(44, 44, 44);
}